<nav class="navbar navbar-light bg-faded">
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item active">
      <h5><a class="nav-link" href="/">BLOGGERS DEALS</a></h5>

    </li>

  <span class="float-lg-right">

    <li class="nav-item">
      <a class="nav-link" href="/pages/about">ABOUT</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/pages/contact">CONTACT</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/"> </a>
    </li>

    <% if user_signed_in? %>

    <li>
      Signed in as <b><%= current_user.email %></b>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger btn-mini' %>
      <%= link_to "Settings", edit_user_registration_path, :class => 'btn btn-primary btn-mini' %>
      <% else %>
      <%= link_to new_user_session_path do %>
      <button class="btn btn-info btn-mini">Log in</button>
      <% end %>
      <% end %>
    </li>

  </span>
  </ul>
</nav>


<style>
.btn:visited {
color: #FFF
}
</style>
